body{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(pics/backpage.jpg);
    height: 1000px;
}

header{
    background-color: #000d06;
}

footer{
    background-color: #000d05;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.text_droite{
    text-align: center;
    padding: 2%;
    border-radius: 35%;
    margin-top: 5% ;
    background-image: linear-gradient(45deg, rgba(22,117,242,0.6852941860337884) 0%, rgba(133,191,242,0.7581233176864496) 40%, rgba(161,166,23,0.6572829815519958) 100%);
}

.logos{
    position: fixed;
    bottom: 15px;
    left: 10px;
    display: flex;
    align-items: center;
}

#git{
    position: fixed;
    bottom: 50px;
    right: 60px;
}

#linkedin{
    position: fixed;
    bottom: 50px;
    right: 30px;
}

#profil{
    height: 500px;
    width: 500px;
    clip-path: circle(200px);
    shape-outside: circle(50%);
    background-image: url(pics/pic_profile.jpg);
    margin-top: 4%;
    margin-left: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0.5ch;
}

#contenaire{
    display: flex;
    flex-wrap: nowrap;
}